*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.logo{
    color: aqua;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}