body{
    background-image: url(header-shapes\ mobile.png);
    background-repeat: no-repeat;
    background-size: cover; 
}
header{
    padding: 10px 12px 10px 12px;
    font-family: 'Poppins' , sans-serif;
    font-weight: 700;
    font-size: 15px;
     display: flex;       
     align-items: center;
     justify-content: space-between;
     color: #6070FF;
}
.greetings{
    font-family: 'Poppins' , sans-serif;
    font-size: 40px;
    color:#172B4D;
    font-weight: 700;
    margin: 45px 0px 10px 0px;
    padding: 0px 12px 0px 12px
} 
.text{
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#344563;
    padding: 0px 15px 0px 12px;
    margin: 7px 0px 0px 0px;
}
.connect{
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:#7F8CFF;
    padding: 0px 12px 0px 12px;
    margin: 15px 0px 0px 0px;
}
.icons{
    padding: 0px 12px 0px 12px;
    margin: 15px 0px 0px 0px;
}