@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header {
  padding: 10px 12px 10px 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6070ff;
}
.background {
  background-image: url(header-shapesmobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 0px 0px 0px;
}
.greetings {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  margin: 45px 0px 10px 0px;
  padding: 0px 12px 0px 12px;
}
.text {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  padding: 0px 15px 0px 12px;
  margin: 7px 0px 0px 0px;
}
.connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  padding: 0px 12px 0px 12px;
  margin: 15px 0px 0px 0px;
}
.icons {
  padding: 0px 12px 0px 12px;
  margin: 15px 0px 0px 0px;
}
.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:40px 10px 0px 10px;
  border: solid 1px #DFE1E6;
  border-radius: 30px;
  padding: 15px;
}
.To{
  margin-top: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}
.tech {
  display: flex;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  padding-left: 0px;
  color: #7A869A;
  gap: 30px;
}
.canopy {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 17px;
  color: #344563;
  list-style-type: none;
}
.tx {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.lan {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #6070ff;
  list-style-type: none;
  padding-left:0px;
  gap: 20px;
  align-items: center;
}
.HT{
  border: solid 1px #7A869A;
  border-radius: 11px;
  background-color: #EBEBFF;
  border: none;
  padding: 6px;
}
.CS{
  border: solid 1px #7A869A;
  border-radius: 11px;
  background-color: #EBEBFF;
  border: none;
  padding: 6px;
}
.JS{
  border: solid 1px #7A869A;
  border-radius: 11px;
  background-color: #EBEBFF;
  border: none;
  padding: 6px;
}
.SP{
  border: solid 1px #6070FF;
  border-radius: 10px;
  color: #396DF2;
  font-family: Poppins;
  font-weight: 500;
  font-size: 17px;
  width: 126px;
  height: 48px;
  padding: 12px;
  align-items: center;
  vertical-align: center;
}
.about{
  display: flex;
  flex-direction: column;
}
.Atxt{
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color: #172b4d;
  font-weight: 700;
  margin: 45px 0px 10px 0px;
  padding: 0px 12px 8px 12px;
}
.Etxt{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #344563;
  padding: 0px 15px 0px 12px;
  margin-top: -10px;
}
.ELC{
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #7f8cff;
  padding: 0px 12px 0px 12px;
  margin: -4px 0px 0px 0px;
}
.Sicons{
  width: 200px;
  height:40px;
  margin: 10px 0px 10px 0px;
}
.resume{
font-family: Poppins;
font-weight: 500;
font-size: 17px;
text-align: center;
color: #396DF2;
vertical-align: middle;
border: solid 1px #6070FF;
border-radius: 8px;
height: 48px;
width: 162px;
align-content: center;
margin-left: 9px;
}